

[mcu HermitCrab]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_m8p-if01
canbus_uuid: aa7d2f5974b9



[adxl345]
cs_pin: HermitCrab:PB12
spi_bus: spi2
axes_map: y,z,-x

[extruder]
step_pin: HermitCrab:PA6
dir_pin: !HermitCrab:PA7
enable_pin: !HermitCrab:PA5
microsteps: 16
rotation_distance: 3.675#33.500
nozzle_diameter: 1.00
filament_diameter: 1.750
heater_pin: HermitCrab:PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: HermitCrab:PA1
control: pid
pid_Kp: 27.307
pid_Ki: 2.001
pid_Kd: 93.188
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: HermitCrab:PB0
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: HermitCrab:PA4

[heater_fan hotend_fan]
pin: HermitCrab:PA3
heater: extruder
heater_temp: 50.0

[neopixel hotend_rgb]
pin: HermitCrab:PA8
chain_count: 2
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5





[filament_switch_sensor switch_sensor]
switch_pin: HermitCrab:PA10

[filament_motion_sensor motion_sensor]
switch_pin: HermitCrab:PA9
extruder: extruder



##vim /boot/BordEnv.txt
#dtoverlay=mcp2515-can0,oscillator=12000000,interrupt=25,spimaxfrequency=1000000


##vim /etc/network/interfaces.d/can0
#allow-hotplug can0
#iface can0 can static
#     bitrate 1000000
#     up ifconfig $IFACE txqueuelen 2048


##Katapult Config for Hermit Crab
#           Katapult Configuration v0.0.1-59-g0ac72fc
#    Micro-controller Architecture (STMicroelectronics STM32)  --->
#    Processor model (STM32F072)  --->
#    Build Katapult deployment application (Do not build)  --->
#    Clock Reference (8 MHz crystal)  --->
#    Communication interface (CAN bus (on PB8/PB9))  --->
#    Application start offset (8KiB offset)  --->
#(1000000) CAN bus speed
#()  GPIO pins to set on bootloader entry
#[*] Support bootloader entry on rapid double click of reset button
#[ ] Enable bootloader entry on button (or gpio) state
#[ ] Enable Status LED

##Bootloader (hold Boot and press reset usb and power over usbc expanderbord/seperate power)
#sudo dfu-util -a 0 -D ~/katapult/out/canboot.bin --dfuse-address 0x08000000:force:mass-erase -d 0483:df11



##Klipper Config for Hermit Crab needs CanBoot/katapult
#            Klipper Firmware Configuration
#[*] Enable extra low-level configuration options
#    Micro-controller Architecture (STMicroelectronics STM32)  --->
#    Processor model (STM32F072)  --->
#    Bootloader offset (8KiB bootloader)  --->
#    Clock Reference (8 MHz crystal)  --->
#    Communication interface (CAN bus (on PB8/PB9))  --->
#(1000000) CAN bus speed
#()  GPIO pins to set at micro-controller startup

##Klipper (bin depend on device) (hold Boot and press reset)
#sudo dfu-util -a 0 -d 0483:df11 --dfuse-address 0x08002000:force:leave -D ~/klipper/out/klipper.bin
##or with installed katapult
#./katapult/scripts/flash_can.py -u [uuid of the manta can id like aa7d2f5974b9] -f ~/klipper/out/klipper.bin


##Qurey Canbus IDs
#~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0

##Update if needed
#./katapult/scripts/flash_can.py -u [uuid of the manta can id like aa7d2f5974b9] -f ~/klipper/out/klipper.bin


##Request bootloader
#python3 ./katapult/scripts/flashtool.py -i <CAN_IFACE> -u <UUID> -r
